<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @brewed_coffee.name %>
</p>

<%= link_to 'Edit', edit_brewed_coffee_path(@brewed_coffee) %> |
<%= link_to 'Back', brewed_coffees_path %>
